@-webkit-keyframes fadein {
  100% {
    opacity: 1;
    margin: 0;
  }
}

@keyframes fadein {
  100% {
    opacity: 1;
    margin: 0;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  html,
  body {
    overflow: initial;
  }
}

[data-tab-content] {
  margin-right: 20px;
  margin-left: 20px;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 0;
  font-weight: 900;
}

.tabs .tab {
  cursor: pointer;
  padding: 10px;
}

.tabs .tab:hover {
  background-color: #AAA;
}

.tabs .tab.active {
  background-color: #ccc;
}

#content [data-tab-content] {
  margin-right: 0;
  margin-left: 0;
}

#content #menu {
  background-image: url(../images/plate-of-rice-and-cooked-meat-1624487.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content #menu .foods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.849);
  color: white;
  font-weight: bold;
  width: 70%;
  height: 400px;
  margin: 0 auto;
}

#content #menu .foods .food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 250px;
  padding: 10px;
}

#content #menu .foods .food .name {
  font-size: 20px;
}

#content #menu .foods img {
  width: 100%;
  min-height: 100%;
}

#content #contact::after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-image: url(../images/plate-of-rice-and-cooked-meat-1624487.jpg);
}

#content #contact .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.849);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  min-height: 300px;
  padding: 10px;
  text-align: center;
}

#content #contact input,
#content #contact textarea {
  width: 50%;
  margin: 5px;
}

#content #contact textarea {
  padding: 8px;
  resize: none;
  border-radius: 3px;
}

#content #contact input[name=submit] {
  width: initial;
  text-align: center;
}

#content #home::after {
  background-size: cover;
  background-position: center;
  background-image: url(../images/plate-of-rice-and-cooked-meat-1624487.jpg);
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#content #home .details {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.849);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 10px;
  text-align: center;
  line-height: 1.9;
}

#content #home .details h1 {
  text-shadow: 2px 2px 1px #195de5;
  letter-spacing: 2px;
}
/*# sourceMappingURL=style.css.map */